html, body {
    width: 100%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    font-family: 'Rubik';
    background-color: #F7F8FC;
}

main, header {
    display: inline-block;
    width: 100%
}

#body_wrapper {
    height: 100%;
    padding-left: 200px;
    display: block;
}

#main_nav {

    height: 100%;
    background-color: #19446D;
    width: 200px;
    margin-left: 0px;
    float: left;
    position: fixed;
}

#main_nav ul {
    padding: 0px;
    margin: 0px;
}

#main_nav ul li {
    color: #F5F5F5;
    text-align: left;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 10px;
    border-bottom: 1px solid #00003f;
    border-radius: 5px;
    user-select: none;
}

#logo_container {
    font-size: 0;
    display: block;
    background-color: white;
    border-bottom: 1px solid #00003f;
}

#logo {
   margin-left: 20%;
}

#top_bar {
    padding: 10px;
    background: #FFFFFF;
    display: block;
    margin: 0;
}

header {
    background-color:	#EAEAF2;
    text-align: center;
} 

#email {
    display: inline;
    float: right;
    margin-top: 0px;
}  

#username {
    display: block;
    text-align: left;
    margin: 3px;
}  

h4 {
    margin: 10px;
}

h2 {
    padding-left: 20px;
}

#content_wrapper {
    margin-left: 20px;
    padding: 5px;
    margin-right: 20px;
    background-color: 	#EAEBF0;   
    border-radius: 5px;
}

#content_wrapper h4 {
    margin-left: 30px;
    font-size: 15px;
}

#inner_content_wrapper {
    background-color: #FFFFFF;
    display: flex;
    flex-wrap: wrap;
    border-radius: 5px;
    padding: 10px;
}

.My_files {
    display: none;
}

#main_nav li:hover{
    background-color: #29567D;
}

#main_nav li:active{
    background-color: #19446D;
}

.no_style {
    text-decoration: none;
}

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

th, td {
    padding: 5px;
}

#search {
    padding: 10px;
    display: inline-block;
}

#search_box {
    margin-bottom: 20px;
    display: inline;
}

#search label {
    display: block;
    margin-bottom: 10px;
}

.search_input {
    margin-right: 30px;
    margin-bottom: 20px;
    display: inline-block;
}
